* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f1f1f1;
}

.nav-main {
    position: sticky;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    z-index: 1000;
}

.toggle-btn {
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    background-color: #f98f39;
    background-image: url('../image/toggle-menu.png');
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;
    cursor: pointer;
}

.toggle-btn:hover {
    opacity: 0.8;
}

.navbar-brand {
    line-height: 50px;
    margin: 0 auto;
}

.yuk {
    color: #5199FF;
    font-weight: bold;
}

.komedi {
    color: #ffffff;
    padding: 2px 8px;
    border: #5199FF 1px solid;
    border-radius: 5px;
    background-color: #5199FF;
}

.nav-sidebar {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 60px;
    height: calc(100vh - 60px);
    padding: 0 5px;
    background-color: #1b1b1b;
    z-index: 1000;
    transition: all 0.3s ease-in-out;
}

.nav-sidebar ul {
    padding-top: 15px;
    overflow: hidden;
    visibility: hidden;
}

.nav-sidebar ul li {
    line-height: 60px;
    list-style: none;
}

.nav-sidebar ul li span, .nav-sidebar ul li a {
    display: block;
    height: 60px;
    padding: 0 10px;
    text-decoration: none;
    font-size: 16px;
    color: #ffffff;
    white-space: nowrap;
    transition: all 0.5s ease-in-out;
}

.nav-sidebar ul li div {
    display: inline-block;
    position: absolute;
    left: 160px;
    bottom: 5%;
    transition: all ease-in-out;
}

.nav-sidebar ul li div button {
    padding: 5px 10px;
    margin: 0 10px;
}

.nav-sidebar ul li a:hover {
    background-color: #353535;
}
