* {
    margin: 0;
    padding: 0;
}

.auth {
    width: 100%;
    height: 100vh;
    background-image: url('../image/mic-wallpaper.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.auth-body {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform : translate(-50%, -50%);
}

.auth .auth-body .card-header{
    display: flex;
    justify-content: center;
}

.yuk {
    color: #5199FF;
    font-weight: bold;
}

.komedi {
    color: #ffffff;
    padding: 2px 8px;
    border: #5199FF 1px solid;
    border-radius: 5px;
    background-color: #5199FF;
}

.index {
    width: 80%;
    margin: 100px auto;
}

.home {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.home-main-mssg {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    font-size: 40px;
    text-transform: uppercase;
    color: #ffa9a9;
}

.home-main-jumbotron {
    background-color: inherit;
    margin-bottom: 75px;
}

.home-context {
    width: 100%;
    height: fit-content;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.home-context .wallpaper {
    width: 300px;
    height: 300px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 10px 75px 0 75px ;
    border-radius: 100%;
    opacity: 0.75;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-context .komika {
    background-image: url('../image//standup1.jpg');
}

.home-context .video {
    background-image: url('../image//standup2.jpg');
}

.home-context .tiket {
    background-image: url('../image//standup3.jpg');
}

.home-context .wallpaper .ref {
    color: #ffffff;
    font-size: 21px;
    font-weight: bold;
    background-color: inherit;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
}

.home-context .wallpaper .ref:hover {
    color: #fd6969;
    background-color: #ffffff;
    transition: 0.5s;
    cursor: pointer;
}